.notice {
  font-family: "times new roman", times, serif;
  font-size: 12pt !important;
  color: #000000 !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-align: left;
  letter-spacing: 0px;
  line-height: 18px;
}

.notice h1, .notice h2, .notice h3, .notice h4, .notice h5 {
  color: #000000 !important;
  line-height: 18px !important;
}

.notice h6 {
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 18px;
  margin-block-start: 2em;
  margin-block-end: 0em;
  color: #000000 !important;
}

.notice .emphasis {
  text-decoration: underline;
  font-weight: bold
}

.notice .borrower_address {
  margin-top: .75in;
  padding-left: .5in;
  margin-block-end: .75in;
}

footer {
  margin-top: 2em;
}
