@media print {
  * {
    color: #000000 !important;
    background-color: #ffffff;
  }
  .letter {
    width: 8.5in;
    margin: 0;
    font-family: 10pt "Times New Roman", Times, serif !important;
    width: 8.5in;
    font-weight: normal;
  }
  .slip {
    width: 70mm;
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold !important;
  }
}

.alignright {
  float: right;
}

body {
  font-size: 10pt;
}

.slip p {
  font-size: 10pt;
}

.slip h1 {
  font-size: 1.6em;
}

.slip h2 {
  font-size: 1.5em;
}

.slip h3 {
  font-size: 1.4em !important;
}

.slip h4 {
  font-size: 1.3em !important;
}

.slip h5 {
  font-size: 1.2em;
}

.slip h6 {
  font-size: 1.1em;
}
