/* Print everything in black on receipts */
@media print {
  .letter {
    font-family: 14pt Georgia, "Times New Roman", Times, serif;
    width: 8.5in;
  }
  .slip {
    width: 70mm;
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
    color: #000000 !important;
    background-color: #ffffff;
    font-weight: bold !important;
  }
}

body {
  font-size: 10pt;
}

.slip p {
  font-size: 10pt;
}

.slip h1 {
  font-size: 1.6em;
}

.slip h2 {
  font-size: 1.5em;
}

.slip h3 {
  font-size: 1.4em !important;
}

.slip h4 {
  font-size: 1.3em !important;
}

.slip h5 {
  font-size: 1.2em;
}

.slip h6 {
  font-size: 1.1em;
}
